In [8]:
import pandas as pd
from schoolgirl_solver.solver import full_solve

df = pd.read_csv('Kirkman_solutions.tsv', sep = '\t')

df

,num_girls,group_size,possible_to_solve,num_days,num_possible_solutions,num_actual_solutions,total_solve_time,solution_num,day_num,group_num,group,named_group
0,4,2,True,3,1,1,0.002001,1,1,1,"('A', 'B')","('Abigail', 'Belle')"
1,4,2,True,3,1,1,0.001998,1,1,1,"('A', 'B')","('Abigail', 'Belle')"
2,4,2,True,3,1,1,0.002001,1,1,2,"('C', 'D')","('Crystal', 'Delilah')"
3,4,2,True,3,1,1,0.001998,1,1,2,"('C', 'D')","('Crystal', 'Delilah')"
4,4,2,True,3,1,1,0.002001,1,2,1,"('A', 'C')","('Abigail', 'Crystal')"
5,4,2,True,3,1,1,0.001998,1,2,1,"('A', 'C')","('Abigail', 'Crystal')"
6,4,2,True,3,1,1,0.002001,1,2,2,"('B', 'D')","('Belle', 'Delilah')"
7,4,2,True,3,1,1,0.001998,1,2,2,"('B', 'D')","('Belle', 'Delilah')"
8,4,2,True,3,1,1,0.002001,1,3,1,"('A', 'D')","('Abigail', 'Delilah')"
9,4,2,True,3,1,1,0.001998,1,3,1,"('A', 'D')","('Abigail', 'Delilah')"
10,4,2,True,3,1,1,0.002001,1,3,2,"('B', 'C')","('Belle', 'Crystal')"
11,4,2,True,3,1,1,0.001998,1,3,2,"('B', 'C')","('Belle', 'Crystal')"

In [9]:
df = df.drop_duplicates(subset=[
                'num_girls',
                'group_size',
                'possible_to_solve',
                'num_days',
                'num_possible_solutions',
                'num_actual_solutions',
                'solution_num',
                'day_num',
                'group_num',
                'group',
                'named_group'
            ], keep='first')
df

,num_girls,group_size,possible_to_solve,num_days,num_possible_solutions,num_actual_solutions,total_solve_time,solution_num,day_num,group_num,group,named_group
0,4,2,True,3,1,1,0.002001,1,1,1,"('A', 'B')","('Abigail', 'Belle')"
2,4,2,True,3,1,1,0.002001,1,1,2,"('C', 'D')","('Crystal', 'Delilah')"
4,4,2,True,3,1,1,0.002001,1,2,1,"('A', 'C')","('Abigail', 'Crystal')"
6,4,2,True,3,1,1,0.002001,1,2,2,"('B', 'D')","('Belle', 'Delilah')"
8,4,2,True,3,1,1,0.002001,1,3,1,"('A', 'D')","('Abigail', 'Delilah')"
10,4,2,True,3,1,1,0.002001,1,3,2,"('B', 'C')","('Belle', 'Crystal')"

In [10]:
df = df.sort_values(by=[
                'num_girls',
                'group_size',
                'solution_num',
                'day_num',
                'group_num',
            ])
df

,num_girls,group_size,possible_to_solve,num_days,num_possible_solutions,num_actual_solutions,total_solve_time,solution_num,day_num,group_num,group,named_group
0,4,2,True,3,1,1,0.002001,1,1,1,"('A', 'B')","('Abigail', 'Belle')"
2,4,2,True,3,1,1,0.002001,1,1,2,"('C', 'D')","('Crystal', 'Delilah')"
4,4,2,True,3,1,1,0.002001,1,2,1,"('A', 'C')","('Abigail', 'Crystal')"
6,4,2,True,3,1,1,0.002001,1,2,2,"('B', 'D')","('Belle', 'Delilah')"
8,4,2,True,3,1,1,0.002001,1,3,1,"('A', 'D')","('Abigail', 'Delilah')"
10,4,2,True,3,1,1,0.002001,1,3,2,"('B', 'C')","('Belle', 'Crystal')"